<div class="jumbotron">
  <div class="container">
    <h1>Gesture-Based Text Input System</h1>
    <h2>A Guestbook based on Kinect</h2>

    <p>
      Uses motion input from Microsoft's Kinect technology to capture a user's handwriting, interpret its meaning and save it to a remote server acting as a guestbook for various events. This project was designed and built for Carleton University's 4th year project course: SYSC4907.
    </p>
  </div>
</div>

<div class="container">
  <a href="/" class="btn btn-success">Go Back</a>
  <a href="https://github.com/adambatson/gbtis" class="btn btn-primary">View the project on Github</a>
  <a href="http://carleton.ca/" class="btn btn-danger">About Carleton University</a>

  <h3>Developers</h3>

  <div class="media">
    <div class="media-left">
      <a href="https://github.com/adambatson">
        <img class="media-object" height="64" src="https://github.com/adambatson.png" alt="developer image" />
      </a>
    </div>
    <div class="media-body">
      <h4 class="media-heading">Adam Batson</h4>
      Adam was born and raised in the small mining town of Labrador City.  After moving to Ottawa in 2013 he quickly became amazed by the big city amenities such as electricity.  Thus, he began attending Carleton in order to learn more about these magical boxes known as “computers”.
    </div>
  </div>

  <div class="media">
    <div class="media-left">
      <a href="https://github.com/rscarson">
        <img class="media-object" height="64" src="https://github.com/rscarson.png" alt="developer image" />
      </a>
    </div>
    <div class="media-body">
      <h4 class="media-heading">Richard Carson</h4>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
  </div>

  <div class="media">
    <div class="media-left">
      <a href="https://github.com/MeloDeMelo">
        <img class="media-object" height="64" src="https://github.com/MeloDeMelo.png" alt="developer image" />
      </a>
    </div>
    <div class="media-body">
      <h4 class="media-heading">Max Demelo</h4>
      Born to a farmer and raised by wolves, this programmer found his beginnings when he was granted the mystical keyboard of Alan Turing - which bestowed him with the programming skills of a Carleton not-so-graduate. He hopes to regain the throne from which his father was banished by his evil uncle Scar.
    </div>
  </div>

  <br/>
  <footer>
    <span class="pull-left">
      <a class="btn btn-primary btn-xs" href="/">Back to home</a>
      <a class="btn btn-warning btn-xs" href="/admin"><span class="glyphicon glyphicon-cog"></span></a>
    </span>
    Copyright Adam Batson, Richard Carson, Max Demelo, 2017
  </footer>
</div>