<ul class="nav navbar-nav">
  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
      View a Different Event <span class="caret"></span>
    </a>
    
    <ul class="dropdown-menu">
      <!-- Ongoing events -->
      <li><a href="#">Test Gala <small class="text-muted">Ongoing</small></a></li>

      <li role="separator" class="divider"></li>

      <!-- Closed events -->
      <li><a href="#">Experimental Ball <small class="text-muted">3 weeks ago</small></a></li>
      <li><a href="#">Trial Party <small class="text-muted">June 2016</small></a></li>
      <li><a href="#">Testcase Triathalon <small class="text-muted">May 2016</small></a></li>
    </ul>
  </li>
</ul>

<ul class="nav navbar-nav navbar-right">
  <li><a href="books.html">Administration</a></li>
</ul>